#Rectangle_7 {
		opacity: 0.793;
		fill: rgba(3,225,203,1);
	}
	.Rectangle_7 {
		filter: drop-shadow(15px 15px 15px rgba(0, 0, 0, 0.161));
		width: 722.026px;
		height: 722.026px;
		position: absolute;
		transform: matrix(1,0,0,1,1497.0365,4319.9377) rotate(-45deg);
		transform-origin: center;
	}
	#Rectangle_6 {
		opacity: 0.793;
		fill: rgba(3,225,203,1);
	}
	.Rectangle_6 {
		filter: drop-shadow(15px 15px 15px rgba(0, 0, 0, 0.161));
		width: 722.026px;
		height: 722.026px;
		position: absolute;
		transform: matrix(1,0,0,1,-12.0131,5042.487) rotate(-45deg);
		transform-origin: center;
	}
	#Rectangle_5 {
		fill: rgba(3,225,203,1);
	}
	.Rectangle_5 {
		filter: drop-shadow(15px 15px 15px rgba(0, 0, 0, 0.161));
		width: 722.026px;
		height: 722.026px;
		position: absolute;
		transform: matrix(1,0,0,1,1149.5861,2289.487) rotate(-45deg);
		transform-origin: center;
	}
	#Rectangle_3 {
		opacity: 0.793;
		fill: rgba(3,225,203,1);
	}
	.Rectangle_3 {
		filter: drop-shadow(15px 15px 15px rgba(0, 0, 0, 0.161));
		width: 722.026px;
		height: 722.026px;
		position: absolute;
		transform: matrix(1,0,0,1,-12.0131,3342.487) rotate(-45deg);
		transform-origin: center;
	}
	#Trac_1_l {
		fill: url(#Trac_1_l);
	}
	.Trac_1_l {
		position: absolute;
		width: 1953.504px;
		height: 1983.117px;
		left: -0.724px;
		top: -2.189px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Rectangle_4 {
		opacity: 0.603;
		fill: rgba(3,225,203,1);
	}
	.Rectangle_4 {
		filter: drop-shadow(15px 15px 15px rgba(0, 0, 0, 0.161));
		width: 722.026px;
		height: 722.026px;
		position: absolute;
		transform: matrix(1,0,0,1,-12.0131,1292.987) rotate(-45deg);
		transform-origin: center;
	}
	#Trac_2_o {
		fill: url(#Trac_2_o);
	}
	.Trac_2_o {
		position: absolute;
		width: 1947.122px;
		height: 1010.909px;
		left: -8.813px;
		top: -0.073px;
		transform: matrix(1,0,0,1,0,0);
	}
	#leaf {
		fill: rgba(255,255,255,1);
	}
	.leaf {
		position: absolute;
		width: 87.031px;
		height: 128.151px;
		left: 114px;
		top: 44px;
		transform: matrix(1,0,0,1,0,0);
	}
	#LIFE_header {
		left: 257px;
		top: 67px;
		position: absolute;
		width: 227px;
		white-space: nowrap;
		text-align: left;
		font-family: Avenir;
		font-weight: lighter;
		font-size: 60px;
		color: rgba(255,255,255,1);
		letter-spacing: 0.8px;
	}
	#Lapplication {
		left: 879px;
		top: 88px;
		position: absolute;
		width: 193px;
		white-space: nowrap;
		text-align: left;
		font-family: Avenir;
		font-size: 30px;
		color: rgba(255,255,255,1);
	}
	#Rectangle_1 {
		fill: rgba(1,125,142,1);
	}
	.Rectangle_download {
		filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.161));
		position: absolute;
		width: 243px;
		height: 74px;
		left: 1368px;
		top: 79px;
	}
	#Telcharger {
		left: 1396px;
		top: 90px;
		position: absolute;
		width: 174px;
		height: 38px;
		text-align: center;
		font-family: Avenir;
		font-size: 28px;
		color: rgba(255,255,255,1);
	}
	#Capture_decran_2021-05-26_a_21 {
		position: absolute;
		width: 371px;
		height: 799px;
		left: 1297px;
		top: 220px;
	}
	#titre1 {
		left: 253px;
		top: 285px;
		position: absolute;
		width: 924px;
		text-align: left;
		font-family: Avenir;
		font-weight: 900;
		font-size: 60px;
		color: rgba(255,255,255,1);
	}
	#para1 {
		left: 253px;
		top: 482px;
		position: absolute;
		width: 653px;
		height: 123px;
		text-align: left;
		font-family: Avenir;
		font-size: 30px;
		color: rgba(255,255,255,1);
	}
	#Image_1 {
		position: absolute;
		width: 300px;
		height: 194px;
		left: 253px;
		top: 638px;
	}
	#Capture_decran_2021-05-26_a_21_y {
		position: absolute;
		width: 371px;
		height: 802px;
		left: 304px;
		top: 1253px;
	}
	#Capture_decran_2021-05-26_a_21_z {
		position: absolute;
		width: 371px;
		height: 799px;
		left: 1176px;
		top: 2251px;
	}
	#titre2 {
		left: 920px;
		top: 1508px;
		position: absolute;
		width: 564px;
		white-space: nowrap;
		text-align: left;
		font-family: Avenir;
		font-weight: 700;
		font-size: 50px;
		color: rgba(0,0,0,1);
	}
	#para2 {
		left: 920px;
		top: 1677px;
		position: absolute;
		width: 545px;
		height: 123px;
		line-height: 41px;
		margin-top: -5.5px;
		text-align: left;
		font-family: Avenir;
		font-size: 30px;
		color: rgba(0,0,0,1);
	}
	#titre3 {
		left: 221px;
		top: 2505px;
		position: absolute;
		width: 659px;
		white-space: nowrap;
		text-align: left;
		font-family: Avenir;
		font-weight: 700;
		font-size: 50px;
		color: rgba(0,0,0,1);
	}
	#para3{
		left: 221px;
		top: 2674px;
		position: absolute;
		width: 545px;
		height: 123px;
		line-height: 41px;
		margin-top: -5.5px;
		text-align: left;
		font-family: Avenir;
		font-size: 30px;
		color: rgba(0,0,0,1);
	}
	#Capture_decran_2021-05-26_a_22 {
		position: absolute;
		width: 371px;
		height: 797px;
		left: 313.5px;
		top: 3305px;
	}
	#titre4 {
		left: 920px;
		top: 3610px;
		position: absolute;
		width: 659px;
		white-space: nowrap;
		text-align: left;
		font-family: Avenir;
		font-weight: 700;
		font-size: 50px;
		color: rgba(0,0,0,1);
	}
	#para4 {
		left: 920px;
		top: 3779px;
		position: absolute;
		width: 545px;
		height: 123px;
		line-height: 41px;
		margin-top: -5.5px;
		text-align: left;
		font-family: Avenir;
		font-size: 30px;
		color: rgba(0,0,0,1);
	}
	#Groupe_de_masques_1 {
		position: absolute;
		width: 232px;
		height: 232px;
		left: 1029px;
		top: 4741px;
	}
	#Groupe_de_masques_2 {
		position: absolute;
		width: 232px;
		height: 232px;
		left: 298px;
		top: 4741px;
	}
	#Groupe_de_masques_7 {
		position: absolute;
		width: 233px;
		height: 232px;
		left: 1231px;
		top: 5076px;
	}
	#Groupe_de_masques_6 {
		position: absolute;
		width: 233px;
		height: 232px;
		left: 457px;
		top: 5076px;
	}
	#Groupe_de_masques_5 {
		position: absolute;
		width: 233px;
		height: 233px;
		left: 1394px;
		top: 4740px;
	}
	#Groupe_de_masques_4 {
		position: absolute;
		width: 233px;
		height: 233px;
		left: 844px;
		top: 5075px;
	}
	#Groupe_de_masques_3 {
		position: absolute;
		width: 233px;
		height: 232px;
		left: 663px;
		top: 4740px;
	}
	#titre5 {
		left: 221px;
		top: 4560px;
		position: absolute;
		width: 785px;
		white-space: nowrap;
		text-align: left;
		font-family: Avenir;
		font-weight: 900;
		font-size: 60px;
		color: rgba(0,0,0,1);
	}
	
	#Eva {
		left: 721px;
		top: 4973px;
		position: absolute;
		width: 118px;
		white-space: nowrap;
		text-align: center;
		font-family: Avenir;
		font-size: 50px;
		color: rgba(0,0,0,1);
	}
	#Lou {
		left: 356px;
		top: 4973px;
		position: absolute;
		width: 118px;
		white-space: nowrap;
		text-align: center;
		font-family: Avenir;
		font-size: 50px;
		color: rgba(0,0,0,1);
	}
	#Benjamin {
		left: 1029px;
		top: 4973px;
		position: absolute;
		width: 228px;
		white-space: nowrap;
		text-align: center;
		font-family: Avenir;
		font-size: 50px;
		color: rgba(0,0,0,1);
	}
	#Jade {
		left: 1442px;
		top: 4973px;
		position: absolute;
		width: 139px;
		white-space: nowrap;
		text-align: center;
		font-family: Avenir;
		font-size: 50px;
		color: rgba(0,0,0,1);
	}
	#Nicolas {
		left: 1234px;
		top: 5308px;
		position: absolute;
		width: 228px;
		white-space: nowrap;
		text-align: center;
		font-family: Avenir;
		font-size: 50px;
		color: rgba(0,0,0,1);
	}
	#Ines {
		left: 847px;
		top: 5308px;
		position: absolute;
		width: 228px;
		white-space: nowrap;
		text-align: center;
		font-family: Avenir;
		font-size: 50px;
		color: rgba(0,0,0,1);
	}
	#Diane {
		left: 460px;
		top: 5308px;
		position: absolute;
		width: 228px;
		white-space: nowrap;
		text-align: center;
		font-family: Avenir;
		font-size: 50px;
		color: rgba(0,0,0,1);
	}
	#Footer {
		position: absolute;
		width: 1920px;
		height: 287px;
		left: 0px;
		top: 5970px;
	}
	#Groupe_1594 {
		position: absolute;
		width: 1920px;
		height: 287px;
		left: 0px;
		top: 0px;
	}
	#Rectangle_9 {
		fill: rgba(40,42,51,1);
	}
	.Rectangle_9 {
		position: absolute;
		width: 1920px;
		height: 287px;
		left: 0px;
		top: 0px;
	}
	#A_propos {
		left: 415px;
		top: 55px;
		position: absolute;
		width: 216px;
		white-space: nowrap;
		line-height: 30px;
		margin-top: -2.5px;
		text-align: left;
		font-family: Avenir;
		font-size: 25px;
		color: rgba(255,255,255,1);
		text-transform: uppercase;
	}
	#La_LOI {
		left: 820px;
		top: 55px;
		position: absolute;
		width: 293px;
		white-space: nowrap;
		line-height: 30px;
		margin-top: -2.5px;
		text-align: left;
		font-family: Avenir;
		font-size: 25px;
		color: rgba(255,255,255,1);
		text-transform: uppercase;
	}
	#Nous_suivre {
		left: 1302px;
		top: 55px;
		position: absolute;
		width: 326px;
		white-space: nowrap;
		line-height: 30px;
		margin-top: -2.5px;
		text-align: left;
		font-family: Avenir;
		font-size: 25px;
		color: rgba(255,255,255,1);
		text-transform: uppercase;
	}
	#leaf_bu {
		fill: rgba(255,255,255,1);
	}
	.leaf_bu {
		position: absolute;
		width: 54.153px;
		height: 79.738px;
		left: 77px;
		top: 6072.5px;
		transform: matrix(1,0,0,1,0,0);
	}
	#LIFE_footer {
		left: 151px;
		top: 6072.5px;
		position: absolute;
		width: 148px;
		white-space: nowrap;
		text-align: left;
		font-family: Avenir;
		font-weight: lighter;
		font-size: 60px;
		color: rgba(255,255,255,1);
		letter-spacing: 0.8px;
	}
	#Notre_equipe {
		left: 1113px;
		top: 88px;
		position: absolute;
		width: 214px;
		white-space: nowrap;
		text-align: left;
		font-family: Avenir;
		font-size: 30px;
		color: rgba(255,255,255,1);
	}